<div class="text-center">
    <h1 class="text-info pt-4">Заказ оформлен!</h1>
    <p class="pb-3">Мы получили ваш заказ, и ваш платеж будет обработан в ближайшее время!</p>
    <img src="/Images/logo.png" width="80%" />
</div>